[submodule "stateless-future"]
	path = stateless-future
	url = git@github.com:qifun/stateless-future.git
[submodule "stateless-future-util"]
	path = stateless-future-util
	url = git@github.com:qifun/stateless-future-util.git
